<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere ipsum illum deserunt aspernatur assumenda a quasi, non rem consequuntur, sed delectus similique molestias expedita? Nesciunt numquam repellendus magnam natus eaque blanditiis error voluptatibus dolorum, sapiente maiores modi saepe ad adipisci dolore odio fugit doloribus quod ipsum repudiandae. Odio, ex modi.</p>
        <p>Et recusandae odio enim aliquam quaerat, sequi doloribus mollitia rerum eaque fugit qui. Officia, inventore praesentium! Eveniet laboriosam voluptatem nulla est, fugiat eaque repellendus explicabo laborum beatae quibusdam recusandae maxime minus, id error placeat illum incidunt reprehenderit quis! Illum aspernatur accusantium blanditiis tempore itaque voluptatibus eius iste praesentium consequuntur! Hic?</p>
        <p>Nulla iusto architecto amet? Nobis ab quas expedita consectetur maxime rerum velit culpa dicta, laborum optio a, ipsam deserunt consequatur eaque nam laboriosam natus impedit fuga repellendus enim sunt. Doloremque optio est ab quo! Ipsum necessitatibus aliquam sit ut non pariatur velit recusandae doloremque debitis! Sed est repudiandae sunt consequatur?</p>
    </div>

    <%- include('./partials/footer.ejs') %>
</body>
</html>